/* General Styling */

@import url('https://fonts.googleapis.com/css?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body {
    background: #FBEAD6;
    font-family: Lora;
}

h1, h2, h3 {
    color: #C87D87;
    font-weight: 10;
}

.tagline {
    color: #6B7556;
    font-family: MonteCarlo;
}

h2 {
    font-size: 2.9vw;
}

h3 {
    font-size: 2.3vw;
}

p {
    color: #6B7556;
    font-size: 1.7vw;
}

@media screen and (max-width: 700px) {
    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3.5vw;
    }

    p {
        font-size: 2.7vw;
    }
}

/* Header and Navigation Section */

header {
    display: flex;
}

.logo {
    width: 15vw;
    margin-left: 1vw;
}

nav {
    width: 40vw;
    margin-left: auto;
    padding-top: 3vw;
}

nav a {
    color: #6B7556;
    margin-left: 4.5vw;
    font-size: 1.5vw;
    text-decoration: none;
}

.nav-button {
    background-color: #C87D87;
    color: white;
    padding: 0.7vw 2.8vw;
    border-radius: 6px;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 30vw;
    }

    nav {
        width: 60vw;
        padding-top: 5vw;
    }

    nav a {
        margin-left: 3.5vw;
        font-size: 3.5vw;
    }
}

/* Footer Section */

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-items: center;
    align-items: center;
    margin: 50px 2vw 0 2vw;
    padding: 1vw;
    border-top: 0.25vw solid #C87D87;
}

footer .footer-logo {
    width: 15vw;
}

footer .footer-text {
    text-align: center;
    width: 100%;
    border-left: 0.25vw solid #C87D87;
}

.footer-text h2 {
    margin: 0;
}

.footer-text .tagline {
    font-size: 2.8vw;
    margin: 0;
    line-height: 1.3em;
}

.footer-text p {
    margin: 0;
}

.footer-text img {
    width: 10vw;
    margin: 0.25vw;
}

.socials img {
    width: 5vw;
    margin: 0.7vw;
}

@media screen and (max-width: 700px) {
    footer {
        grid-template-columns: 1fr 3fr;
        margin: 50px 2vw 0 2vw;
        padding: 1vw;
    }

    footer .footer-logo {
        grid-row: 1/3;
        width: 26vw;
    }

    footer .footer-text {
        border-left: 0.25vw solid #C87D87;
    }

    .footer-text .tagline {
        font-size: 4.5vw;
    }

    .footer-text img {
        width: 20vw;
    }

    .socials {
        grid-column: 2;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-left: 0.25vw solid #C87D87;
    }

    .socials img {
        width: 6vw;
        margin: 0.9vw;
    }
}

/* Main Section - Home Page */

/* Hero */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-self: center;
}

.hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 6vw;
    margin-top: 1vw;
    margin-bottom: 0;
}

.hero-text .tagline {
    font-size: 3.5vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
}

.hero-text img {
    width: 15vw;
}

.hero-text .date {
    font-size: 2vw;
    margin: 1vw;
}

.hero-text .location {
    font-size: 1.4vw;
}

.hero-text a {
    display: inline-block;
    background-color: #6B7556;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 0.9vw 2.7vw;
    margin-top: 2vw;
    border-radius: 6px;
}

.hero-image {
    position: relative;
}

#hero-wedding {
    display: block;
    width: 30vw;
}

#hero-flowers {
    position: absolute;
    top: -7%;
    left: 43%;
    z-index: 2;
    width: 23.5vw;
}

@media screen and (max-width: 700px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .hero-text h1 {
        font-size: 10vw;
    }

    .hero-text .tagline {
        font-size: 5.5vw;
    }

    .hero-text img {
        width: 25vw;
    }

    .hero-text .date {
        font-size: 3.2vw;
    }

    .hero-text .location {
        font-size: 2.4vw;
    }

    .hero-text a {
        font-size: 3vw;
        margin-top: 1vw;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        margin-right: 15vw;
    }

    #hero-wedding {
        width: 50vw;
    }

    #hero-flowers {
        left: 59%;
        width: 39.17vw;
    }
}

/* Welcome */
.welcome {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: #F5DDD2;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.welcome-text h2 {
    margin-bottom: 0.5vw;
}

.welcome-text img {
    width: 11vw;
}

.welcome-text p {
    margin-top: 10px;
}

.welcome img {
    width: 10vw;
}

@media screen and (max-width: 700px) {
    .welcome {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0 5vw;
        justify-content: center;
    }

    #left-vine, #right-vine {
        display: none;
    }

    .welcome-text h2 {
        margin-bottom: 0.5vw;
    }

    .welcome-text img {
        width: 22vw;
    }

    .welcome-text p {
        margin-top: 10px;
    }
}

/* Details */
.details {
    text-align: center;
}

.detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.detail-card {
    padding: 0 4vw;
}

.detail-card img {
    width: 10vw;
}

#left-card {
    border-right: 0.25vw solid #C87D87;
}

#middle-card {
    border-left: 0.25vw solid #C87D87;
    border-right: 0.25vw solid #C87D87;
}

#right-card {
    border-left: 0.25vw solid #C87D87;
}

@media screen and (max-width: 700px) {
    .detail-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        justify-self: center;
    }

    .detail-card {
        padding: 4vw 0;
    }

    .detail-card img {
        width: 15vw;
    }

    #left-card {
        grid-row: 1;
        border-bottom: 0.25vw solid #C87D87;
        border-right: none;
    }

    #middle-card {
        grid-row: 2;
        border-top: 0.25vw solid #C87D87;
        border-bottom: 0.25vw solid #C87D87;
        border-left: none;
        border-right: none;
    }

    #right-card {
        grid-row: 3;
        border-top: 0.25vw solid #C87D87;
        border-left: none;
    }
}

/* Registry */
.registry-preview {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    background-color: #F5DDD2;
    width: 80vw;
    border-radius: 10px;
    margin: 50px auto;
    padding: 2vw;
    align-items: center;
    justify-items: center;
}

.registry-preview img {
    width: 17vw;
}

.registry-preview-text {
    padding: 0 3vw;
    border-right: 0.25vw solid #C87D87;
}

.registry-preview-text h2 {
    margin-top: 0;
    margin-bottom: 0.5vw;
}

.registry-preview-text img {
    width: 10vw;
    margin-left: 1.5vw;
}

.registry-preview-text p {
    margin-top: 0.5vw;
    margin-bottom: 0;
}

.registry-preview a {
    display: inline-block;
    background-color: #6B7556;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 0.9vw 2.7vw;
    margin-top: 2vw;
    border-radius: 6px;
}

@media screen and (max-width: 700px) {
    .registry-preview {
        grid-template-columns: 2fr 3fr;
        width: 80vw;
        margin: 0 auto;
        padding: 2vw;
    }

    .registry-preview img {
        width: 30vw;
    }

    .registry-preview-text {
        padding: 0 3vw;
        border-left: 0.25vw solid #C87D87;
        border-right: none;
    }

    .registry-preview-text h2 {
        margin-bottom: 0.5vw;
    }

    .registry-preview-text img {
        width: 20vw;
    }

    .registry-preview a {
        grid-column: 1/3;
        font-size: 3vw;
        margin-top: 2vw;
        justify-self: center;
    }
}

/* Main Section - Registry Page */



/* Main Section - RSVP Page */

